@inject ClientSessionService Session
@inject NavigationManager Navigation
@implements IDisposable

<nav class="nav-container">
    @if (Session.IsLoggedIn)
    {
        <ul class="nav-list">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="submit">
                    Submit
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="cases">
                    Cases
                </NavLink>
            </li>
        </ul>

        <div class="user-section">
            <div class="user-info">
                <span class="user-name">@Session.Username</span>
                <span class="user-id">#@Session.UserId</span>
            </div>
            <button type="button" class="btn-logout" @onclick="Logout">Logout</button>
        </div>
    }
    else
    {
        <ul class="nav-list">
            <li>
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    Login
                </NavLink>
            </li>
        </ul>
    }
</nav>

@code {
    protected override void OnInitialized()
    {
        Session.SessionChanged += HandleSessionChanged;
    }

    private void HandleSessionChanged() => InvokeAsync(StateHasChanged);

    private void Logout()
    {
        Session.SignOut();
        Navigation.NavigateTo("login", forceLoad: false);
    }

    public void Dispose()
    {
        Session.SessionChanged -= HandleSessionChanged;
    }
}